/* Reset Style */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    color:inherit;
}

/* General Style */
.container{
    width:85%;
    margin: auto;
}
.d-flex{
    display:flex;
}
.flex-direction-row{
    flex-direction:row;
}
.justify-content-between{
    justify-content:space-between;
}
.justify-content-around{
    justify-content:space-around;
}
.mt-1{
    margin-top:1%;
}
.bg-grey{
    background-color: #F5F7FA;
}
.text-green{
    color: #4CAF4F;
}
.bg-green{
    background-color: #4CAF4F;
}
.text-white{
    color: #FFFFFF;
}
.align-items-center{
    align-items: center;
}
.text-grey{
    color:rgba(77, 77, 77, 1);
}
.text-light-grey{
   color: rgba(113, 113, 113, 1)
}
.dot{
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.bg-light-green{
    background-color: rgba(76, 175, 79, 0.3);;
}
.bg-white{
    background-color: #FFFFFF;
}
.btn{
    margin-bottom: 6px;
    margin-top: 8px;
    border: none;
    padding: 13px 21px;
    border-radius: 8%;
    font-weight: 600;
    cursor: pointer;
}

/* custome style */

ul li{
    margin:0 7%;
}
.nav-btn{
    margin-left: 16%;
}
.nav-ul{
    margin: 0% 23% 0 8%;
}
nav ul li{
    margin-left: 10%;
    font-weight: 400;
}
.nav-div{
    padding: 10px;
}
.section1{
    padding: 133px 0px 0px 0px;
}
.Pstyle{
    font-size: 64px;
    font-weight: 600;
}
.Register{
    font-weight: 400;
}
.section1-img{
    margin-top: -56%;
    margin-left: 147%;
}
.dots{
    justify-content: flex-end;
    margin-bottom: 20px;
}
.dot{
    margin-left:5px ;
}
.logos img{
    width: 40px;
    height: 40px;
}
.p-business{
    margin: 3% 0;
}
.section2{
    padding: 3% 0%;
}
.div-sec2{
    margin: 0% 0% 0% 33%;
}
.p1-sec2{
    font-size: 36px;
    font-weight: 600;
    margin: 0% 0% 0% 12%;
}
.p2-sec2{
        margin: 1% 0%;
}
.logos{
    margin-top: 3%;
}
.p1-sec3{
    font-size: 36px;
    font-weight: 600;
    margin-top: 3%;
}
.p2-sec3{
    font-size: 16px;
    margin: 2% 0% 2% 15%;
}
.div-sec3{
    padding-left: 30%;
}
.span-sec3{
    margin-left: 12%;
}
.p-card-big{
    font-weight: 700;
    font-size: 28px;
}
.card{
    width: 25%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding-bottom: 1%;
}
.cards{
    margin-top: 3%;
}
.icon-wrapper {
  background-color: rgba(76, 175, 79, 0.1);
  border-radius: 12px;                     
  width: 50px;
  height: 50px;
}
.icon{
    padding-bottom: 4%;
    margin-left: 36%;
    padding-top: 10%;
}
.p-card1{
    margin-left: 18%;
}
.p-card2{
    margin-left: 20%;
}
.p-card3{
    margin-left: 25%;
}
.Membership{
    margin-left: 4%;
}
.National{
    margin-left: 13%;
}
.Clubs{
    margin-left: 2%;
}
.Groups{
    margin-left: 7%;
}
.pp-sec3{
    margin-left: 7%;
    margin-top: 6%;
}